.back{
    padding: 0 50px;
    position: relative;
    margin-bottom: 50px;
}

.back button{
    border-radius: 4px;
    padding: 10px 35px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.back i{
    position: absolute;
    top: 10px;
    left: 60px;
    color: rgba(0, 0, 0, 0.721);
}