.back {
    padding: 0 50px;
    position: relative;
    margin-bottom: 50px;
}

.back button {
    border-radius: 4px;
    padding: 10px 35px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.back i {
    position: absolute;
    top: 10px;
    left: 60px;
    color: rgba(0, 0, 0, 0.721);
}

.countryInfo {
    padding: 0 50px;
    display: flex;
    align-items: center;
    gap: 8%;
}

.country-img img {
    width: 400px;
}

.info {
    display: flex;
    gap: 80px;
    margin: 15px 0 25px;
}

.info-left ul,
.info-right ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-border {
    display: flex;
    gap: 20px;
}

.borderBtn {
    display: flex;
    gap: 10px;
}

.borderBtn button{
    border: none;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.858);
    cursor: pointer;
}